@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  font-size: 16px;
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;
  --purple-600: #855fb1;
  --purple-300: #d9b8ff;
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;
  --white: white;
}
* {
  box-sizing: border-box;
  margin: 0;
}

.btn-1 {
  background-color: var(--cyan-600);
  color: var(--white);
}

.btn-1 small {
  color: var(--cyan-300);
}

.btn-2 {
  background-color: var(--purple-600);
  color: var(--white);
}
body {
  font-family: "Red Hat Display";
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}
.hero-left,
.hero-right {
  display: none;
}

.hero-center img {
  width: 100%;
}
header {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

header img {
  height: 2.5rem;
}
.header-title {
  width: 350px;
  min-height: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
}
.header-title h1 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 800;
  color: var(--slate-900);
}

.header-title p {
  color: var(--slate-600);
}
.section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  min-height: auto;
}

.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
}

.btn button {
  border: none;
  border-radius: 30px;
  width: 10rem;
  height: 3rem;
  padding: 5px 10px;
  font-weight: 700;
}

.section-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
  gap: 1rem;
}

.section-2 h3 {
  color: var(--cyan-300);
}

.section-2 h2 {
  color: var(--slate-900);
}
.section-2 h3,
.section-2 h2 {
  text-align: center;
}
.text {
  max-width: 600px;
  width: 90vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto 2rem auto;
  text-align: center;
}
.text p {
  color: var(--slate-600);
}
.number {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8b8b9b;
  font-weight: 600;
  font-family: system-ui, sans-serif;
  margin: 2rem auto 0 auto;
}

.number::before {
  content: "";
  position: absolute;
  top: -120px; /* length of the line */
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 120px;
  background: #e0e0e0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 1.5rem;
  max-width: 1100px;
}

.gallery img {
  width: 100%;
  border-radius: 5px;
  max-width: 15rem;
}

/* Main blue section */
.section-3 {
  position: relative;
  width: 100vw;
  min-height: auto;
  background-image: url("../../assets/desktop/image-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

.section-3 > * {
  position: relative;
  z-index: 2; /* content ABOVE overlay */
}
.section-3::before {
  position: absolute;
  content: "";
  background: rgba(0, 162, 209, 0.7);
  inset: 0;
  z-index: 0;
}
/* The circle with number */

.step-marker {
  position: absolute;
  top: -40px; /* Moves the circle upward so it overlaps */
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 50%;
  border: 2px solid #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #6b6b7a;
}

/* Vertical line above */
.step-marker::before {
  content: "";
  position: absolute;
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 120px;
  background: #dcdcdc;
}

/* Section content */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 300px;
}
.content h2 {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  max-width: 300px;
}

.content p {
  position: relative;
  font-size: 18px;
  max-width: 500px;
}

.content button {
  position: relative;
  background: #b84bf6;
  border: none;
  padding: 15px 40px;
  border-radius: 30px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

@media (min-width: 768) and (max-width: 1100px) {
  .hero-center {
    display: block;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .btn {
    flex-direction: row;
  }
}
@media (min-width: 1100px) {
  .hero-center {
    display: none;
  }
  .hero-left,
  .hero-right {
    display: block;
  }
  .section-one {
    flex-direction: row;
    justify-content: space-between;
  }
  header {
    margin: 2rem auto 3rem auto;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .btn {
    flex-direction: row;
  }
  .content {
    flex-direction: row;
  }
  .content h2 {
    max-width: 230px;
  }
}
